:host {
  position: fixed;
  z-index: 19000;
  display: none;
  width: 0;
  height: 0;
  overflow: visible;
}

:host(.app-menu-outlet--open) {
  display: block;
}

:host(.app-menu-outlet--dock) {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  width: auto;
  height: auto;
}
