@if (isOpen()) {
  <app-popup [model]="popupModel()" [zIndex]="2400">
    <app-smart-list
      class="event-subevents-list-smart-list"
      [config]="smartListConfig"
      [loadPage]="loadSubEventsPage"
      [itemTemplate]="slotSectionTemplate"
      [query]="query"
    ></app-smart-list>

    <ng-template #slotSectionTemplate let-section>
      <section class="event-subevents-slot-section" [ngClass]="slotSectionToneClass(section)">
        <app-smart-list
          class="event-subevents-slot-section-list"
          [config]="slotSectionSmartListConfigFor(section)"
          [loadPage]="slotSectionLoadPage(section)"
          [query]="slotSectionQuery"
          [itemTemplate]="subEventTemplate"
          (menuItemSelect)="onSubEventMenuSelect($event)"
        ></app-smart-list>
      </section>
    </ng-template>

    <ng-template #subEventTemplate let-item let-groupLabel="groupLabel" let-openMenu="openMenu">
      <app-info-card
        [card]="cardFor(item, groupLabel)"
        [useSharedMenu]="true"
        [useSharedMenuTrigger]="false"
        [sharedMenuContext]="subEventMenuContext(item)"
        (menuRequest)="openMenu($event)"
      ></app-info-card>
    </ng-template>
  </app-popup>

  @if (eventSubeventsStore.eventTournamentGroupsPopupComponent(); as tournamentGroupsPopupComponent) {
    <ng-container *ngComponentOutlet="tournamentGroupsPopupComponent"></ng-container>
  }
  @if (shouldHostResourcePopup()) {
    @if (resourcePopupStore.eventResourcePopupComponent(); as resourcePopupComponent) {
      <ng-container *ngComponentOutlet="resourcePopupComponent"></ng-container>
    }
  }
  @if (shouldHostResourcePopup() && resourcePopupStore.assetExplorePopupRef()) {
    @if (resourcePopupStore.eventResourceAssetExploreComponent(); as assetExplorePopupComponent) {
      <ng-container *ngComponentOutlet="assetExplorePopupComponent"></ng-container>
    }
  }
  @if (shouldHostSupplyContributionsPopup()) {
    @if (resourcePopupStore.eventSupplyContributionsPopupComponent(); as supplyContributionsPopupComponent) {
      <ng-container *ngComponentOutlet="supplyContributionsPopupComponent"></ng-container>
    }
  }
}
