:host {
  display: contents;
}


.subevent-group-flow {
  display: block;
  min-height: 11.5rem;
  overflow: hidden;
}

@media (max-width: 760px) {
  .subevent-group-flow {
    min-height: 11.5rem;
  }
}
