<section class="asset-basket-popup-shell asset-basket-popup-mini" *ngIf="host.isSubEventAssetAssignPopup() && host.selectedSubEventAssetAssignChips().length > 0">
  <div
    class="asset-basket-floating-panel"
    (click)="$event.stopPropagation()"
  >
    <div class="basket-mini-header">
      <div class="basket-mini-title">
        <h3>{{ host.subEventAssetAssignHeaderTitle() }}</h3>
        <p>{{ host.selectedSubEventAssetAssignChips().length }} items selected</p>
      </div>
      <div class="basket-mini-actions">
        <button
          type="button"
          class="basket-confirm-btn"
          [class.form-save-invalid]="!host.canConfirmSubEventAssetAssignSelection()"
          [disabled]="!host.canConfirmSubEventAssetAssignSelection()"
          (click)="host.confirmSubEventAssetAssignSelection($event)"
        >
          <mat-icon>done</mat-icon>
          <span>Confirm Assignment</span>
        </button>
      </div>
    </div>
    <div class="basket-mini-body">
      <div class="friends-picker-chip-row">
        <button
          type="button"
          class="values-selected-chip friends-picker-chip subevent-asset-assign-chip"
          *ngFor="let chip of host.selectedSubEventAssetAssignChips()"
          (click)="host.toggleSubEventAssetAssignCard(chip.id, $event)"
        >
          <mat-icon>{{ host.assetTypeIcon(chip.type) }}</mat-icon>
          <span>{{ chip.title }}</span>
          <mat-icon class="friends-picker-chip-remove">close</mat-icon>
        </button>
      </div>
    </div>
  </div>
</section>
