<article [ngClass]="rootClassList()">
  @if (resolvedBadge()) {
    @if (badgeClickable) {
      <button
        type="button"
        class="ui-text-card__badge ui-text-card__badge--button"
        [attr.aria-label]="resolvedBadgeAriaLabel()"
        (click)="emitBadgeClick($event)"
      >
        @if (resolvedBadgeIcon()) {
          <mat-icon aria-hidden="true">{{ resolvedBadgeIcon() }}</mat-icon>
        }
        <span>{{ resolvedBadge() }}</span>
      </button>
    } @else {
      <span class="ui-text-card__badge" [attr.aria-label]="resolvedBadgeAriaLabel()">
        @if (resolvedBadgeIcon()) {
          <mat-icon aria-hidden="true">{{ resolvedBadgeIcon() }}</mat-icon>
        }
        <span>{{ resolvedBadge() }}</span>
      </span>
    }
  }

  @if (resolvedStatusBadge()) {
    <span class="ui-text-card__status-badge" [attr.aria-label]="resolvedStatusBadgeAriaLabel()">
      @if (resolvedStatusBadgeIcon()) {
        <mat-icon aria-hidden="true">{{ resolvedStatusBadgeIcon() }}</mat-icon>
      }
      <span>{{ resolvedStatusBadge() }}</span>
    </span>
  }

  <div class="ui-text-card__main">
    @if (resolvedIcon()) {
      <span class="ui-text-card__icon" aria-hidden="true">
        <mat-icon>{{ resolvedIcon() }}</mat-icon>
      </span>
    }
    <span class="ui-text-card__copy">
      <strong class="ui-text-card__title">{{ resolvedTitle() }}</strong>
      @if (resolvedSubtitle()) {
        <span class="ui-text-card__subtitle">{{ resolvedSubtitle() }}</span>
      }
      @if (resolvedMeta()) {
        <span class="ui-text-card__meta">{{ resolvedMeta() }}</span>
      }
      @if (resolvedDetail()) {
        <span class="ui-text-card__detail">{{ resolvedDetail() }}</span>
      }
    </span>
  </div>

  @if (hasActions()) {
    <div class="ui-text-card__actions">
      @if (hasSelectAction()) {
        <button
          type="button"
          [ngClass]="selectActionClassList()"
          [disabled]="selectDisabled"
          [attr.aria-label]="resolvedSelectAriaLabel()"
          (click)="toggleSelection($event)"
        >
          <mat-icon>{{ selectActionIcon() }}</mat-icon>
        </button>
      }

      @if (hasMenu()) {
        @if (useSharedMenuTrigger) {
          <app-menu-trigger
            class="ui-text-card__menu"
            kind="select"
            [menuId]="resolvedSharedMenuId()"
            [title]="resolvedMenuTitle()"
            [trigger]="menuTrigger()"
            [items]="menuItems"
            [context]="sharedMenuContext"
          ></app-menu-trigger>
        } @else {
          <app-menu
            class="ui-text-card__menu"
            kind="select"
            layout="list"
            [title]="resolvedMenuTitle()"
            [trigger]="menuTrigger()"
            [items]="menuItems"
            [panelAlign]="'auto'"
            [mobileBreakpointPx]="900"
            (itemSelect)="menuSelect.emit($event)"
          ></app-menu>
        }
      }
    </div>
  }
</article>
