@if (chips.length > 0) {
  <div class="basket" [ngClass]="className">
    @for (chip of chips; track trackByChipId($index, chip)) {
      <div
        class="basket__chip values-selected-chip"
        [class.is-disabled]="disabled || chip.disabled"
        >
        @if (chip.avatarLabel) {
          <span
            class="basket__chip-avatar"
            [ngClass]="chip.avatarClass"
            >
            {{ chip.avatarLabel }}
          </span>
        } @else {
          @if (chip.icon) {
            <mat-icon class="basket__chip-icon">{{ chip.icon }}</mat-icon>
          }
        }
        <span class="basket__chip-label">{{ chip.label }}</span>
        <button
          type="button"
          class="basket__chip-remove-btn"
          [disabled]="disabled || chip.disabled"
          [attr.aria-label]="'Remove ' + chip.label"
          (click)="onChipClick(chip, $event)"
          >
          <mat-icon class="basket__chip-remove">{{ chip.trailingIcon || 'close' }}</mat-icon>
        </button>
      </div>
    }
  </div>
}
