<div class="basket" [ngClass]="className" *ngIf="chips.length > 0">
  <button
    type="button"
    class="basket__chip values-selected-chip"
    *ngFor="let chip of chips; trackBy: trackByChipId"
    [disabled]="disabled || chip.disabled"
    (click)="onChipClick(chip, $event)"
  >
    <span
      class="basket__chip-avatar"
      *ngIf="chip.avatarLabel; else basketLeadingIcon"
      [ngClass]="chip.avatarClass"
    >
      {{ chip.avatarLabel }}
    </span>
    <ng-template #basketLeadingIcon>
      <mat-icon class="basket__chip-icon" *ngIf="chip.icon">{{ chip.icon }}</mat-icon>
    </ng-template>
    <span class="basket__chip-label">{{ chip.label }}</span>
    <mat-icon class="basket__chip-remove">{{ chip.trailingIcon || 'close' }}</mat-icon>
  </button>
</div>
