@if (isOpen) {
  <app-popup [model]="eventExplorePopupModel()" [zIndex]="eventExplorePopupZIndex()">
    <div class="event-explore-popup">
      <app-smart-list
        #eventExploreSmartList
        [config]="eventExploreSmartListConfig"
        [loadPage]="eventExploreLoadPage"
        [itemTemplate]="eventExploreItemTemplateRef ?? null"
        [query]="eventExploreSmartListQuery"
        (stateChange)="onEventExploreSmartListStateChange($event)"
      ></app-smart-list>
      @if (checkoutDraftCount() > 0) {
        <app-menu
          class="event-explore-basket-menu"
          kind="fab"
          title="Basket"
          [trigger]="checkoutDraftMenuTrigger()"
          [items]="checkoutDraftMenuItems()"
          [panelAlign]="'end'"
          [mobileBreakpointPx]="900"
          (itemSelect)="onEventExploreMenuSelect($event)"
        ></app-menu>
      }
      <ng-template #eventExploreItemTemplate let-record let-groupLabel="groupLabel">
        <app-info-card
          [card]="eventExploreInfoCard(record, groupLabel)"
          [useSharedMenu]="true"
          (mediaStartClick)="openHostImpressions(record)"
          (mediaEndClick)="openEventExploreMembers(record)"
          (menuAction)="onEventExploreCardMenuAction(record, $event)"
          (menuRequest)="openEventExploreInfoCardMenu(record, $event)"
        ></app-info-card>
      </ng-template>
    </div>
    <app-menu-outlet
      (itemSelect)="onEventExploreMenuSelect($event)"
    ></app-menu-outlet>
  </app-popup>

  @if (eventSubeventsStore.eventSubeventsListPopup()?.host === 'eventExplore') {
    @if (eventSubeventsStore.eventSubeventsListPopupComponent(); as subeventsPopupComponent) {
      <ng-container *ngComponentOutlet="subeventsPopupComponent"></ng-container>
    }
  }
}
