@if (resourcePopupStore.supplyPopupRef()) {
  <app-popup
    [model]="supplyContributionsPopupModel()"
    [zIndex]="supplyContributionsPopupZIndex()"
  >
    <div class="event-supply-contributions-popup-shell">
      <div class="subevent-supply-contributions-popup">
        <app-smart-list
          #supplyContributionSmartList
          class="subevent-supply-contribution-smart-list"
          [config]="supplyContributionSmartListConfig"
          [loadPage]="supplyContributionSmartListLoadPage"
          [itemTemplate]="supplyContributionItemTemplateRef ?? null"
          [query]="supplyContributionSmartListQuery"
          (menuItemSelect)="onSupplyContributionSharedMenuSelect($event)"
        ></app-smart-list>

        <ng-template #supplyContributionItemTemplate let-row let-openMenu="openMenu">
          <single-row
            [row]="supplyContributionSingleRow(row)"
            [useSharedMenu]="true"
            (menuRequest)="openMenu($event)"
          ></single-row>
        </ng-template>
      </div>
    </div>
  </app-popup>
}

@if (resourcePopupStore.bringDialogRef(); as dialog) {
  <app-popup
    [model]="bringItemsPopupModel(dialog)"
    [zIndex]="bringItemsPopupZIndex()"
  >
    <app-form-flow
      [model]="bringItemsFlowModel(dialog)"
      [ngModel]="dialog"
      [disabled]="dialog.busy"
      (ngModelChange)="onBringItemsFlowValueChange($event)"
    ></app-form-flow>
  </app-popup>
}
