<div class="user-settings-menu" (click)="closeMenu($event)">
  <button type="button" class="user-settings-item" (click)="openPopup('help', $event)">
    <mat-icon>help_outline</mat-icon>
    <span>Help</span>
  </button>

  <button type="button" class="user-settings-item" (click)="openPopup('feedback', $event)">
    <mat-icon>feedback</mat-icon>
    <span>Send Feedback</span>
  </button>

  <a
    class="user-settings-item"
    href="https://github.com/fssrepository/myscoutee/issues"
    target="_blank"
    rel="noopener noreferrer"
    (click)="closeMenu($event)"
  >
    <mat-icon>bug_report</mat-icon>
    <span>Report Bugs</span>
  </a>

  <button type="button" class="user-settings-item" (click)="openPopup('privacy', $event)">
    <mat-icon>policy</mat-icon>
    <span>Privacy</span>
  </button>

  <button type="button" class="user-settings-item danger" (click)="openDeleteAccountConfirm($event)">
    <mat-icon>delete_forever</mat-icon>
    <span>Delete account</span>
  </button>

  <button type="button" class="user-settings-item" (click)="openLogoutConfirm($event)">
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </button>
</div>
