@if (isOpen()) {
  @if (activeUser; as user) {
    <app-popup [model]="profileEditorPopupModel()">
      <div
        class="profile-editor-popup-content"
        [class.profile-editor-popup-content--profile]="panel === 'profile'"
        [class.profile-editor-popup-content--image]="panel === 'image'"
        [class.profile-editor-popup-content--experience]="panel === 'experience'"
      >
          @if (panel === 'profile') {
            <div class="profile-editor-wrap" [class.profile-editor-wrap-admin]="activeUserIsAdmin()">
              <app-header-card
                [model]="profileHeaderCardModel()"
                (edit)="openImageEditor()"
              ></app-header-card>
              <div class="profile-editor-scroll-area">
                <div class="profile-editor-flow-area">
                  <app-form-flow
                    class="profile-editor-flow"
                    [model]="profileEditorFlowModel"
                    [(ngModel)]="profileEditorData"
                    [saving]="isProfileSaving()"
                    [disabled]="isProfileSaving()"
                    (action)="onProfileEditorFlowAction($event)"
                    (percent)="onProfileCompletionPercentChange($event)"
                  ></app-form-flow>
                </div>
              </div>
            </div>
          }
          <app-menu-outlet (itemSelect)="onProfileEditorDispatchedMenuSelect($event)"></app-menu-outlet>
          @if (panel === 'image') {
            <div class="image-editor-wrap">
              <app-image-carousel
                [previewMode]="true"
                [ngModel]="profileEditorData.profile.images"
                (ngModelChange)="onProfileImagesChange($event)"
                [uploadOwnerId]="user.id"
              ></app-image-carousel>
            </div>
          }
          @if (panel === 'experience') {
            <app-profile-experience-manager
              [ngModel]="profileEditorData.experienceEntries"
              [initialFilter]="experienceFilter"
              [showInlineActions]="true"
              (ngModelChange)="onExperienceEntriesChange($event)"
            ></app-profile-experience-manager>
          }
      </div>
    </app-popup>
  }
}
