@if (store.isOpen()) {
  <app-popup [model]="popupModel()" [zIndex]="22000">
    <section class="notification-center-popup__body">
      <app-smart-list
        #notificationsSmartList
        class="notification-center-popup__list"
        [config]="smartListConfig"
        [loadPage]="loadPage"
        [query]="query()"
        [itemTemplate]="notificationRowTemplate"
        (menuItemSelect)="onRowMenuSelect($event)"
      ></app-smart-list>

      <ng-template
        #notificationRowTemplate
        let-notification
        let-openMenu="openMenu"
      >
        <single-row
          [row]="notificationRow(notification)"
          [useSharedMenu]="true"
          [sharedMenuContext]="rowMenuContext(notification)"
          (menuRequest)="openMenu($event)"
        ></single-row>
      </ng-template>
    </section>
  </app-popup>
}
