@if (isAvailabilityOpen()) {
  <app-popup
    class="asset-availability-popup"
    [model]="availabilityPopupModel()"
    [zIndex]="availabilityPopupZIndex"
  >
    <app-smart-list
      #availabilitySmartList
      class="asset-availability-popup__list"
      [config]="availabilitySmartListConfig"
      [loadPage]="availabilitySmartListLoadPage"
      [query]="availabilityQuery()"
      [view]="availabilityView()"
      [itemTemplate]="availabilityRowTemplate"
      (viewChange)="onViewChange($event)"
      (itemSelect)="onCalendarItemSelect($event)"
    ></app-smart-list>
  </app-popup>
}

@if (isDayListOpen()) {
  <app-popup
    class="asset-availability-popup asset-availability-popup--day-list"
    [model]="dayListPopupModel()"
    [zIndex]="dayListPopupZIndex"
  >
    <app-smart-list
      #dayListSmartList
      class="asset-availability-popup__list"
      [config]="dayListSmartListConfig"
      [loadPage]="dayListSmartListLoadPage"
      [query]="dayListQuery()"
      [view]="'day'"
      [itemTemplate]="dayRowTemplate"
    ></app-smart-list>
  </app-popup>
}

<ng-template #availabilityRowTemplate let-item let-groupLabel="groupLabel">
  @if (isAvailabilityRow(item)) {
    <single-row
      [row]="availabilityRow(item, groupLabel)"
      (menuAction)="onRowMenuAction($event)"
    ></single-row>
  }
</ng-template>

<ng-template #dayRowTemplate let-row let-groupLabel="groupLabel">
  <single-row
    [row]="availabilityRow(row, groupLabel)"
    (menuAction)="onRowMenuAction($event)"
  ></single-row>
</ng-template>
