@if (isAvailabilityOpen()) {
  <app-popup
    class="asset-availability-popup"
    [model]="availabilityPopupModel()"
    [zIndex]="2380"
  >
    <ng-container
      *ngTemplateOutlet="availabilitySmartListShell; context: {
        config: availabilitySmartListConfig,
        loadPage: availabilitySmartListLoadPage,
        query: availabilityQuery,
        view: availabilityView,
        itemTemplate: availabilityRowTemplate,
        viewChangeHandler: availabilityViewChangeHandler,
        itemSelectHandler: availabilityItemSelectHandler
      }"
    ></ng-container>
  </app-popup>
}

@if (isDayListOpen()) {
  <app-popup
    class="asset-availability-popup asset-availability-popup--day-list"
    [model]="dayListPopupModel()"
    [zIndex]="2460"
  >
    <ng-container
      *ngTemplateOutlet="availabilitySmartListShell; context: {
        config: dayListSmartListConfig,
        loadPage: dayListSmartListLoadPage,
        query: dayListQuery,
        view: 'day',
        itemTemplate: dayRowTemplate,
        viewChangeHandler: noopViewChangeHandler,
        itemSelectHandler: noopItemSelectHandler
      }"
    ></ng-container>
  </app-popup>
}

<ng-template
  #availabilitySmartListShell
  let-config="config"
  let-loadPage="loadPage"
  let-query="query"
  let-view="view"
  let-itemTemplate="itemTemplate"
  let-viewChangeHandler="viewChangeHandler"
  let-itemSelectHandler="itemSelectHandler"
>
  <app-smart-list
    class="asset-availability-popup__list"
    [config]="config"
    [loadPage]="loadPage"
    [query]="query"
    [view]="view"
    [itemTemplate]="itemTemplate"
    (viewChange)="dispatchViewChange($event, viewChangeHandler)"
    (itemSelect)="dispatchItemSelect($event, itemSelectHandler)"
  ></app-smart-list>
</ng-template>

<ng-template #availabilityRowTemplate let-item let-groupLabel="groupLabel">
  @if (isAvailabilityRow(item)) {
    <single-row
      [row]="availabilityRow(item, groupLabel)"
      (menuAction)="onRowMenuAction($event)"
    ></single-row>
  }
</ng-template>

<ng-template #dayRowTemplate let-row let-groupLabel="groupLabel">
  <single-row
    [row]="availabilityRow(row, groupLabel)"
    (menuAction)="onRowMenuAction($event)"
  ></single-row>
</ng-template>
