<app-avatar-btn></app-avatar-btn>

<app-navigator-menu></app-navigator-menu>
<app-navigator-settings-popups></app-navigator-settings-popups>
@if (navigatorImpressionsPopupComponent(); as impressionsComponent) {
  <ng-container *ngComponentOutlet="impressionsComponent"></ng-container>
}
@if (profileEditorComponent(); as profileComponent) {
  <ng-container *ngComponentOutlet="profileComponent"></ng-container>
}
<app-confirmation-dialog></app-confirmation-dialog>
@if (eventMembersPopupComponent(); as membersComponent) {
  <ng-container *ngComponentOutlet="membersComponent"></ng-container>
}
@if (subEventResources.resourceHost(); as host) {
  @if (eventResourcePopupComponent(); as resourceComponent) {
    <ng-container *ngComponentOutlet="resourceComponent; inputs: { host: host }"></ng-container>
  }
}
@if (subEventResources.supplyContributionsHost(); as host) {
  @if (eventSupplyContributionsPopupComponent(); as supplyContributionsComponent) {
    <ng-container *ngComponentOutlet="supplyContributionsComponent; inputs: { host: host }"></ng-container>
  }
}
@if (assetMemberPickerPopupComponent(); as assetMemberPickerComponent) {
  <ng-container *ngComponentOutlet="assetMemberPickerComponent"></ng-container>
}
@if (navigatorContactsPopupComponent(); as contactsComponent) {
  <ng-container *ngComponentOutlet="contactsComponent"></ng-container>
}

@if (activitiesPopupComponent(); as activitiesComponent) {
  <ng-container *ngComponentOutlet="activitiesComponent"></ng-container>
}
@if (eventEditorPopupComponent(); as popupComponent) {
  <ng-container *ngComponentOutlet="popupComponent"></ng-container>
}
@if (eventFeedbackPopupComponent(); as feedbackComponent) {
  <ng-container *ngComponentOutlet="feedbackComponent"></ng-container>
}

@if (assetPopupComponent(); as assetComponent) {
  <ng-container *ngComponentOutlet="assetComponent"></ng-container>
}
