<app-avatar-btn></app-avatar-btn>

<app-navigator-menu></app-navigator-menu>
<app-navigator-settings-popups></app-navigator-settings-popups>
<app-navigator-impressions-popup></app-navigator-impressions-popup>
<app-profile-editor></app-profile-editor>
<app-confirmation-dialog></app-confirmation-dialog>
<app-event-members-popup></app-event-members-popup>
<app-event-resource-popup *ngIf="subEventResources.resourceHost() as host" [host]="host"></app-event-resource-popup>
<app-event-supply-contributions-popup
  *ngIf="subEventResources.supplyContributionsHost() as host"
  [host]="host"
></app-event-supply-contributions-popup>
<app-asset-member-picker-popup></app-asset-member-picker-popup>

<ng-container *ngIf="activitiesPopupComponent() as activitiesComponent">
  <ng-container *ngComponentOutlet="activitiesComponent"></ng-container>
</ng-container>
<ng-container *ngIf="eventEditorPopupComponent() as popupComponent">
  <ng-container *ngComponentOutlet="popupComponent"></ng-container>
</ng-container>
<ng-container *ngIf="eventFeedbackPopupComponent() as feedbackComponent">
  <ng-container *ngComponentOutlet="feedbackComponent"></ng-container>
</ng-container>

<ng-container *ngIf="assetPopupComponent() as assetComponent">
  <ng-container *ngComponentOutlet="assetComponent"></ng-container>
</ng-container>
