@if (activitiesStore.activitiesOpenBoolean()) {
  <app-popup [model]="activitiesPopupModel()">
    <div class="activities-popup" [class.activities-popup-rates-fullscreen]="activitiesSmartListPresentation() === 'fullscreen'" [class.activities-popup-blocked-user]="isBlockedUser" (click)="onActivitiesPopupSurfaceClick($event)">
      <ng-template #activitiesRateFullscreenSmartListItemTemplate let-row let-renderState="renderState">
        @if (row) {
          <app-activities-rate-template
            [row]="row"
            [presentation]="'fullscreen'"
            [state]="renderState"
            [context]="activitiesRateTemplateContext"
            [cardRevision]="activitiesRateCardRevisionForRow(row)"
            (detailClick)="openProfileView($event)"
          ></app-activities-rate-template>
        }
      </ng-template>
      <app-smart-list
        #activitiesSmartList
        [config]="activitiesSmartListConfig"
        [loadPage]="activitiesSmartListLoadPage"
        [itemTemplate]="activitiesPrimaryFilter === 'rates'
          ? activitiesRateSmartListItemTemplate
          : (activitiesPrimaryFilter === 'chats'
            ? activitiesChatSmartListItemTemplate
            : activitiesEventSmartListItemTemplate)"
        [fullscreenItemTemplate]="activitiesRateFullscreenSmartListItemTemplate"
        [presentation]="activitiesSmartListPresentation()"
        [view]="activitiesView"
        [query]="activitiesSmartListQuery"
        (itemSelect)="onActivityRowClick($event)"
        (menuItemSelect)="onActivityEventSharedMenuSelect($event)"
        (stateChange)="onActivitiesSmartListStateChange($event)"
        (wheel)="activitiesRates.closeEditorFromUserScroll($event)"
        (touchmove)="activitiesRates.closeEditorFromUserScroll($event)"
      ></app-smart-list>
      <ng-template #activitiesEventSmartListItemTemplate let-row let-groupLabel="groupLabel" let-openMenu="openMenu">
        <app-activities-event-template
          [row]="row"
          [groupLabel]="groupLabel"
          [cardRevision]="activitiesEventCardRevisionForRow(row)"
          (mediaEndClick)="openActivityMembers(row)"
          (menuAction)="onActivityEventCardMenuAction(row, $event)"
          (menuRequest)="openMenu($event)"
        ></app-activities-event-template>
      </ng-template>
      <ng-template
        #activitiesChatSmartListItemTemplate
        let-row
        let-groupLabel="groupLabel"
        let-selectItem="selectItem"
        let-sourceItem="sourceItem"
      >
        <app-activities-chat-template
          [row]="row"
          [groupLabel]="groupLabel"
          (rowClick)="selectItem($event)"
          (supportCaseAction)="onSupportCaseAction(sourceItem, $event)"
        ></app-activities-chat-template>
      </ng-template>
      <ng-template #activitiesRateSmartListItemTemplate let-row let-groupLabel="groupLabel" let-openMenu="openMenu">
        <app-activities-rate-template
          [row]="row"
          [groupLabel]="groupLabel"
          [context]="activitiesRateTemplateContext"
          [openMenu]="openMenu"
          [cardRevision]="activitiesRateCardRevisionForRow(row)"
          (detailClick)="openProfileView($event)"
        ></app-activities-rate-template>
      </ng-template>
    </div>
  </app-popup>

  @if (eventSubeventsStore.eventSubeventsListPopup()?.host === 'activities') {
    @if (eventSubeventsStore.eventSubeventsListPopupComponent(); as subeventsPopupComponent) {
      <ng-container *ngComponentOutlet="subeventsPopupComponent"></ng-container>
    }
  }
}
