<article class="ui-image-card">
  <div class="ui-image-card__media" [appLazyBgImage]="imageUrl">
    <span class="ui-image-card__placeholder" *ngIf="!imageUrl">{{ placeholder }}</span>
    <span class="ui-image-card__label" *ngIf="label">{{ label }}</span>
  </div>
  <div class="ui-image-card__body">
    <p class="ui-image-card__title">{{ title }}</p>
    <p class="ui-image-card__subtitle" *ngIf="subtitle">{{ subtitle }}</p>
    <p class="ui-image-card__detail" *ngIf="detail">{{ detail }}</p>
  </div>
</article>
